// Front-end - CSS por Gabriel Stroligo

/* Base do projeto */
@layer base {
  html {
    scroll-behavior: smooth;
    .container {
      @apply max-w-3xl;
    }
  }
  body {
    @apply cursor-default  font-mulish text-flag-orange antialiased;
    &.menu-open {
      overflow: hidden;
    }
  }

  main {
    @apply flex flex-col gap-16 pt-[72px] md:gap-28; /* Altura da navbar */
  }
  main section:not(.grudado):last-child {
    @apply pb-28;
  }

  /*  Formatação das paginas Single */
  article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply bg-flag-orange  font-poppins;
      display: block;
      margin-block-start: 1.5em;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    h2 {
      @apply text-4xl;
    }
    h3 {
      @apply text-3xl;
    }
    h4 {
      @apply text-2xl;
    }
    h5 {
      @apply text-xl;
    }
    h6 {
      @apply text-lg;
    }
    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      &.lead {
        @apply text-xl font-semibold;
      }
      &.caption {
        @apply py-1 text-xs;
      }
    }
    a {
      @apply font-bold underline;
    }
    .btn {
      @apply no-underline;
    }
    b {
      @apply font-bold;
    }
    blockquote {
      @apply flex flex-col  items-center justify-center gap-4 text-center text-xl text-flag-lilac;
      &:before {
        @apply block h-[34px] w-[37px] content-[""];
        background-image: url('data:image/svg+xml,<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.83887" y="7.11182" width="28.5092" height="27.6041" rx="4.52527" transform="rotate(-14.6967 2.83887 7.11182)" fill="%23CCBDF1"/><path d="M12.4925 17.3477C12.4925 13.8976 9.69606 11.1012 6.24657 11.1012C2.79708 11.1012 0 13.8976 0 17.3477C0 20.7978 2.95368 23.7987 6.62991 23.5749C6.38201 24.7733 5.76951 25.9524 5.17514 26.8757C4.90366 27.2971 5.40067 27.7869 5.81667 27.5075C9.31332 25.1664 12.4925 21.5059 12.4925 17.3477Z" fill="%23604B8C"/><path d="M27.1401 17.3476C27.1401 13.8982 24.3437 11.1011 20.8936 11.1011C17.4435 11.1011 14.647 13.8975 14.647 17.3476C14.647 20.7977 17.6007 23.7986 21.2769 23.5749C21.029 24.7733 20.4165 25.9523 19.8221 26.8756C19.5507 27.2971 20.0477 27.7868 20.4637 27.5075C23.9603 25.1663 27.1401 21.5058 27.1401 17.3476Z" fill="%23604B8C"/></svg>');
      }
      &::after {
        @apply block h-0.5 w-[45px] bg-flag-lilac content-[""];
      }
    }
    figure {
      @apply relative m-0 flex  max-w-full flex-col items-center justify-center overflow-clip  p-0;
      img {
        @apply w-full rounded-3xl object-cover;
      }
      figcaption {
        @apply w-full pt-1 text-left text-xs;
      }
    }
    .post-header {
      @apply my-8;
      .post-header-categoria {
        @apply text-flabg-flag-lilac;
      }
      .post-header-titulo {
        @apply text-flbg-flag-orange mb-0 font-poppins text-5xl font-bold;
      }
      .post-header-info {
        @apply mb-1;
      }
    }
  }

  aside {
    @apply pb-6 transition-all duration-300 ease-in-out;
  }
  /* Navegação do topo */
  nav {
    @apply translate-y-0 transition-all duration-500  ease-in-out;
    ul li {
      @apply w-fit whitespace-nowrap border-b border-transparent px-1 transition-all duration-300 ease-in-out hover:border-flag-green;
    }

    /* Formatacao do Menu Responsivo */
    .menuMobile {
      @apply absolute right-full top-0 z-50 flex  h-screen w-full overflow-auto bg-flag-orange  p-6 text-white transition-all duration-300 ease-linear lg:hidden;
    }
    #toggle-menuMobile:checked ~ .menuMobile {
      @apply translate-x-full;
    }

    .destaque a {
      @apply flex h-7 w-fit cursor-pointer items-center justify-center rounded-lg border-none bg-flag-lilac px-3 py-2 text-sm font-semibold  leading-3 transition duration-300 ease-in-out focus:outline-0 focus:ring-0 active:border-none md:bg-white md:py-1;
      border: none !important;
      &:hover {
        @apply border-none bg-flag-lilac text-white;
        border: none !important;
      }
    }
    .destaque {
      @apply border-none;
      border: none !important;
      &:hover {
        @apply border-none;
        border: none !important;
      }
    }
  }

  /* Rodapé */
  footer {
    ul li {
      @apply w-fit whitespace-nowrap border-b  border-white transition-all duration-300 ease-in-out hover:border-flag-green;
    }
    .destaque {
      @apply border-b;
    }
  }
}
/* Componentes do projeto */
@layer components {
  /*  Botoes / Btn-Menu / White / Outline */
  .btn {
    @apply w-fit cursor-pointer rounded-lg bg-flag-orange px-3  py-2 font-semibold text-white transition duration-300 ease-in-out focus:outline-0 focus:ring-0 active:border-none;
    &:hover {
      @apply bg-flag-lilac;
    }
    &.btn-menu {
      @apply h-7 bg-white py-1 text-sm leading-3;
      &:hover {
        @apply bg-flag-lilac text-white;
      }
      &.btn-menu-purple {
        @apply bg-flag-lilac py-2;
      }
    }
    &.btn-white {
      @apply text-flbg-flag-orange bg-white;
      &:hover {
        @apply bg-flag-lilac text-white;
      }
    }
    &.btn-purple {
      @apply text-flbg-flag-orange bg-flag-lilac py-2;
    }
    &.btn-outline {
      @apply border-flbg-flag-orange text-flbg-flag-orange border-[1.5px] bg-transparent;
      &:hover {
        @apply border-flabg-flag-lilac text-flabg-flag-lilac;
      }
    }
  }
  /* Icones / Botoes circulares / Small / White / Purple  */
  .btn-icon {
    @apply flex h-7 w-7 items-center  justify-center rounded-full bg-flag-orange  fill-white text-xsmall font-bold  text-white transition duration-300 ease-in-out disabled:bg-flag-gray disabled:opacity-20 disabled:hover:bg-flag-gray;
    svg {
      @apply -mt-[2px];
    }
    &.active,
    &:hover {
      @apply bg-flag-lilac;
    }
    svg {
      @apply max-w-4;
    }
    /*  Icone Small */
    &.btn-icon-small {
      @apply h-6 w-6;
    }
    /*  Icone Big */
    &.btn-icon-big {
      @apply h-9 w-9;
      svg {
        @apply max-w-6;
      }
    }

    /*  Icone White */
    &.btn-icon-white {
      @apply bg-white;
      &.active,
      &:hover {
        @apply bg-flag-lilac;
      }
    }
    /*  Icone Purple */
    &.btn-icon-purple {
      @apply bg-flag-lilac;
      &.active,
      &:hover {
        @apply bg-flag-lilac;
      }
    }
  }
  /* Tags / Tag-Big*/
  .tag {
    @apply flex cursor-pointer items-center whitespace-nowrap rounded-md border border-flag-blue px-2 py-1 text-sm font-semibold hover:border-flag-blue-dark hover:bg-white md:px-1 md:py-0.5;
    &.tag-big {
      @apply px-3 py-1 text-sm font-semibold;
    }
  }
  /* Links / White / Small*/
  .link {
    @apply cursor-pointer font-semibold underline transition-all duration-300 ease-in-out;
  }
}
